# EXPLORATORY DATA ANALYSIS

In [2]:
import os
import sys
sys.path.append(os.path.abspath(os.path.join('../scripts')))
from data_info_and_preprocessing import dataInfo
from data_info_and_preprocessing import data_preprocessing

In [3]:
# Import the packagges for this procedure...
import pandas as pd
import numpy as np
import seaborn as sns
import scipy
from sklearn.impute import SimpleImputer
import matplotlib.pyplot as plt
import plotly.express as px
%matplotlib inline

In [4]:
import warnings
warnings.filterwarnings(action = "ignore")

In [5]:
# Read the data frame into the workspace ....
original_df = pd.read_csv('../data/AdSmartABdata.csv')
original_df.head()

,auction_id,experiment,date,hour,device_make,platform_os,browser,yes,no
0,0008ef63-77a7-448b-bd1e-075f42c55e39,exposed,2020-07-10,8,Generic Smartphone,6,Chrome Mobile,0,0
1,000eabc5-17ce-4137-8efe-44734d914446,exposed,2020-07-07,10,Generic Smartphone,6,Chrome Mobile,0,0
2,0016d14a-ae18-4a02-a204-6ba53b52f2ed,exposed,2020-07-05,2,E5823,6,Chrome Mobile WebView,0,1
3,00187412-2932-4542-a8ef-3633901c98d9,control,2020-07-03,15,Samsung SM-A705FN,6,Facebook,0,0
4,001a7785-d3fe-4e11-a344-c8735acacc2c,control,2020-07-03,15,Generic Smartphone,6,Chrome Mobile,0,0

In [6]:
# Statistical description of the original dataframe
original_df.describe()

              hour  platform_os          yes           no
count  8077.000000  8077.000000  8077.000000  8077.000000
mean     11.615080     5.947134     0.070818     0.083075
std       5.734879     0.224333     0.256537     0.276013
min       0.000000     5.000000     0.000000     0.000000
25%       7.000000     6.000000     0.000000     0.000000
50%      13.000000     6.000000     0.000000     0.000000
75%      15.000000     6.000000     0.000000     0.000000
max      23.000000     7.000000     1.000000     1.000000

In [9]:
#Creating an instance of the "dataInfo" class over the original dataframe to access all the methods in the class
data_Info = dataInfo(original_df)

In [10]:
data_Info.get_info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8077 entries, 0 to 8076
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   auction_id   8077 non-null   object
 1   experiment   8077 non-null   object
 2   date         8077 non-null   object
 3   hour         8077 non-null   int64
 4   device_make  8077 non-null   object
 5   platform_os  8077 non-null   int64
 6   browser      8077 non-null   object
 7   yes          8077 non-null   int64
 8   no           8077 non-null   int64
dtypes: int64(4), object(5)
memory usage: 568.0+ KB

In [11]:
# Check for duplicate rows in the data ...
data_Info.find_duplicates()

Empty DataFrame
Columns: [auction_id, experiment, date, hour, device_make, platform_os, browser, yes, no]
Index: []

In [13]:
# This method returns the number of unique values that are available in each column of the data frame...
data_Info.find_unique_value_count()

             Unique Value Count
experiment                    2
yes                           2
no                            2
platform_os                   3
date                          8
browser                      15
hour                         24
device_make                 270
auction_id                 8077

In [14]:
# Check for missing values in the dataframe 
data_Info.find_column_based_missing_values()

Empty DataFrame
Columns: [missing_count, type]
Index: []

In [15]:
original_df.shape

(8077, 9)

In [17]:
# Discover the coleration score between the different columns of the matrix
data_Info.find_matrix_correlation()

AttributeError: 'dataInfo' object has no attribute 'find_matrix_correlation'

# Data Preparation

In [7]:
# object creation
data_preProcess = data_preProcess(df)
data_info = dataframeInfo(df)

NameError: name 'data_preProcess' is not defined